#root {
  border-left: 5px solid lightgray;
  min-height: 100vh;
  max-width: 1000px;
  font-family: sans-serif;
  margin: auto;
  padding-left: 3rem;
}

header {
  padding: 1rem 2rem 1rem 2rem;
}

main {
  padding: 1rem 2rem 1rem 2rem;
}

footer {
  padding: 1rem 2rem 1rem 2rem;
}

.ul-navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;    
}

.ul-navbar a {
  color: lightgray;    
}

.ul-footernav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;    
}
.ul-footernav a {
  color: tomato;
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  color: tomato;
}

.continues {
  color: tomato;
  align-self: self-end;
}

.first-paragraph::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: lightgrey;
  padding: 3px 3px;
  margin-right: 20px;
  float: left;
}

article p {
  line-height: 1.5;
}

.copyright {
  color: lightgray;
}
time{
  color: lightgray;
  font-size: 1.2rem;

}
summary {
  display: block;
  text-align: right;
  font-weight: bold;
}